<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Account Deleted</title>
    </head>
    <body>
        <h1><%= message %></h1>
        <form action="/" method="GET">
            <button type="submit">Return to Login Page</button>
        </form>
    </body>
</html>
